PORT=3000
SESSION_SECRET=  # use openssl rand -base64 64 to generate a random string

# Email settings from ethereal email for test purpose
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=something@ethereal.email
EMAIL_PASS=4xgtS8sYBJ39gTSGW7
EMAIL_FROM=test@gmail.com
